:root {
    --preto: #121212;
    --off-white: #fff3ef;
    --cinza: #b4aaa3;
    --branco: #ffffff;
}
 
* {
    margin: 0;
    padding: 0;
    color: var(--branco);
}
 
.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

body {
    font-family: 'Poppins', sans-serif;
    background: var(--off-white);
    color: var(--preto);
}
 
.secao-destaque {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 20px;
}

.nature {
    background-color: #000000;
    padding: 100px 0;
}

.nature-1 {
    grid-area: a;
}

.nature-2 {
    grid-area: b;
}

.nature-3 {
    grid-area: c;
}

.nature-4 {
    grid-area: d;
}

.texto-destaque{
    grid-area: t;
}

.nature__container {
    padding: 70px 20px;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 350px 350px;
    grid-template-areas:
        "a a a a"
        "t b c d";
}


.botao {
    display: inline-block;
    padding: 11px 22px;
    background: var(--cinza);
    color: var(--preto);
    text-decoration: none;
    font-weight: 600;
    text-align: center;
    width: 130px;
    height: 40px;
    transition: 0.3s;
    margin-top: 30px;
    border-radius: 100px;
}

.botao:hover {
    background: var(--branco);
    transform: translateY(-2px);
}
